#slidebg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidebg  8s linear infinite 0s;
    background-image: url("index.jpg");
    

}
@keyframes slidebg
{
    0%{
        background-image: url("index.jpg");
    
      }
      20%{
        background-image: url("aboutme.jpg");
    
      }
      40%{
        background-image: url("contact.jpg");
    
      }
      60%{
        background-image: url("academic.jpg");
    
      }
      80%{
        background-image: url("back.jpg");
    
      }
      100%{
        background-image: url("backg.jpg");
    
      }
}
